.rodape {
    background-color: var(--rodape);
    color: var(--branco);
    font-size: 13px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em 2em 3em 2em;
    margin: -2em 0em 0em 0em;
}

@media screen and (min-width: 768px) {
    .rodape {
        font-size: 16px;
    }
}

@media screen and (min-width: 1440px) {
    .rodape {
        font-size: 21px;
    }
}